* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans serif;
}

html {
  line-height: 1.5;
  background-color: white;
  font-family: Poppins, sans serif;
  /* font-weight: normal; */
  color: rgba(67, 67, 67, 0.87);
}

.container {
  width: 90vw;
}

.distance-1 {
  /* background-color: cyan; */
  height: 20vh;
  width: auto;
}

.distance-2 {
  /* background-color: teal; */
  height: 24vh;
  width: auto;
}

.distance-3 {
  /* background-color: navy; */
  height: 4.4vh;
  width: auto;
}

@media screen and (max-width: 800px) {
  .distance-1 {
    /* background-color: magenta; */
    height: 12vh;
    width: auto;
  }

  .distance-2 {
    /* background-color: purple; */
    height: 12vh;
    width: auto;
  }
}

@media screen and (max-width: 500px) {
  .distance-1 {
    /* background-color: orange; */
    height: 8vh;
    width: auto;
  }

  .distance-2 {
    /* background-color: peachpuff; */
    height: 5vh;
    width: auto;
  }
}

h2 {
  font-size: 36px;
  /* color: red; */
}

a {
  color: inherit;
  text-decoration: none;
}

.time {
  /* background-color: yellow; */
  /* padding: 1vh; */
  /* margin: 1vw; */
  /* height: 2vh; */
}

.number {
  /* background-color: pink; */
  text-align: left;
  font-size: 10vw;
  font-weight: 100;
}

#unit {
  /* background-color: lightgreen; */
  text-align: right;
  font-size: 3.6vw;
  font-weight: 100;
}

.until {
  /* background-color: cyan; */
  font-size: 4vw;
  text-align: left;
  font-weight: 100;
}

/* ==================================*/
/*Styling for Materialize input forms*/

button,
input,
optgroup,
select,
textarea,
label {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: inherit;
}

button,
button:focus {
  background-color: white;
}

/* ==================================*/
/*Styling for Materialize Date Picker*/

.datepicker-date-display,
.datepicker-table td.is-selected,
.month-next:focus,
.month-prev:focus {
  background-color: #333;
  color: #fff;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: #333;
}

.datepicker-table td.is-today {
  color: teal;
}

.datepicker-day-button:focus {
  background-color: #333;
}

/* label focus color */
.input-field input[type="text"]:focus + label,
.materialize-textarea:focus:not([readonly]) + label {
  color: #333 !important;
}

/* label underline focus color */
.input-field input[type="text"]:focus,
.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #333 !important;
  box-shadow: 0 1px 0 0 #333 !important;
}

/*not sure what any of this stuff is*/
/*--------------------------------------------------------*/
.datepicker-date-display,
.year-text,
.date-text
{
  display: block;
  /* font-size: 16px; */
  /* line-height: 18px; */
  color: rgba(255, 255, 255, 0.7);
}

.white {
  background-color: #fff !important;
}

.white-text {
  color: #fff !important;
}

.transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}

.transparent-text {
  color: rgba(0, 0, 0, 0) !important;
}

.black-text {
  color: #000 !important;
}
